@font-face {
    font-family: 'Custom-Italic';
    src: url('/assets/Compagnon_Family/Compagnon-Italic.otf') format('opentype');
}
@font-face {
    font-family: 'Custom-Light';
    src: url('/assets/Compagnon_Family/Compagnon-Light.otf') format('opentype');
}
@font-face {
    font-family: 'Custom-Medium';
    src: url('/assets/Compagnon_Family/Compagnon-Medium.otf') format('opentype');
}    
@font-face {
    font-family: 'Custom-Roman';
    src: url('/assets/Compagnon_Family/Compagnon-Roman.otf') format('opentype');
} 
@font-face {
    font-family: 'Custom-Script';
    src: url('/assets/Compagnon_Family/Compagnon-Script.otf') format('opentype');
}        
        
*{
    /* margin:0;
    padding:0;
    box-sizing: border-box; */
    /* width: 1100px; */
}

body{
    margin: 0 auto;
    /* width: 1100px; */
    /* background-color: rgb(31, 31, 31); */
    background-image: url(/assets/thumbnail.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}

/* header + navbar */
header{
    display: flex;
    justify-content: space-around;
    /* background-color: rgb(255, 227, 194, 0.8); */
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    align-items: center;
    /* padding: 20px; */
}

.logo img{
    width: 40px;
    padding: 20px;
}

a{
    all:unset;
}
a:hover{
    color: antiquewhite;
    background-color: coral;
}

h1{
    font-family: 'Custom-Roman';
    font-size: 40px;
}

h2{
    font-family: 'Custom-Medium';
}

.nav{
    display: flex;
    justify-content: center;
    
}

ul{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.nav a{
    font-family: 'Custom-Italic';
    text-decoration: none;
    font-size: 20px;
}
.nav ul{
    list-style-type: none ;
}

p{
    font: 20px;
    color: black;
}

.clock{
    padding: 20px;
    color: rgb(6, 6, 6);
}
.clock p{
    font-family: 'Custom-Light';
}

/* hero css */
.hero{
    /* background-image: url("/assets/Nostalgia\ Tech.jpeg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 400px; */
    width: 100vw;
    height:100%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    /* height: 80vh; */
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    /* background-color: rgba(74, 74, 74, 0.484); */

}

.hero-img{
    display: flex;
    justify-content: center;
}

.hero-img img{
    width: 40%;
}

/* .hero div{
    height: 100vh;
    padding: 0 clamp(4rem, 20vw, 20rem);
    display: flex;
    place-content: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
} */


.hero h1{
    font-family: 'Custom-Roman';
    font-size: 40px;
    /* display: flex; */
    align-items: center;
    margin-top: -80px;
}

.scroll-up{
    font-family: 'Custom-Italic';
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;
}

/* intro css */
.intro{
    width: 100vw;
    /* height: 100vh; */
    /* position: relative;
    left: 50%;
    transform: translate(-50%); */
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.intro-text h1{
    font-family: 'Custom-Light';
    color: antiquewhite;
}

/* works css */
.works{
    display: flex;
    justify-content: space-around;
    padding: 40px;
}

.works p{
    font-family: 'Custom-Italic';
}

.works h1{
    font-size: 60px;
    margin: 0;
}

.works-text-left{
    padding-left: 80px;
}

.works-text-right{
    padding-right: 80px;
}

/* works showcase css */
.works-showcase{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap:40px;
    padding-top: 60px;
}

.showcase{
    flex-shrink: 0;
    height: 600px;
    width: 40%;
    display: flex;
    flex-direction: column;
    padding-bottom: 200px;
    /* border: 2px solid red; */
    /* background-color: aqua; */
}

.showcase img, video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.showcase-text{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.showcase-text p{
    font-family: 'Custom-Italic';
}

/* idea section css */
.idea-section{
    background-color: coral;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    padding-bottom: 40px;
}

.ideation{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    width: 40%;
}
.ideation p{
    padding:20px;
    font-family: 'Custom-Italic';
}

.ideation h1{
    font-size: 60px;
    margin: 0;
    padding: 20px;
}

.ideation h2{
    font-family: 'Custom-Light';
    font-size: 30px;
    padding-left: 20px;
}

.ideation-topics{
    width: 60%;  
    padding: 20px;
}

.ideation-topics div{
    margin: 40px;
    background-color: antiquewhite;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.ideation-num{
    font-size: 120px;
    font-family: 'Custom-Italic';
    padding: 0;
    margin: 0;
}

/* marquee css */
.marquee{
    display: flex;
    overflow-x: hidden;
    width: 100vw;
    /* -webkit-mask-image: linear-gradient(90deg, transparent, #893c3c 20%, #5e0808 80%, transparent); */
}

.marquee::-webkit-scrollbar{
    display: none;
}

.marquee div{
    /* background-color: rgb(0, 0, 0); */
    /* border: 2px solid black; */
    width: 300px;
    height: 400px;
    display: flex;
    /* align-items: center; */
    flex-shrink: 0;
    padding: 0 40px;
    /* will-change: transform; */
    /* animation: spin 10s infinite linear; */
}

.marquee img, .marquee video{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* post-marquee css */
.post-marquee{
    /* background-color: black; */
    /* color: antiquewhite; */
    padding: 100px 400px;
    text-align: center;
}

.post-marquee p{
    font-family: 'Custom-Italic';
    font-size: 18px;
}

.post-marquee p:hover{
    font-family: 'Custom-Medium';
    color: coral;
}

/* feed intro css */
.feed-intro{
    background-color: black;
    color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.feed-intro p{
    color: antiquewhite;
    font-family: 'Custom-Italic';
}

.feed-intro h1{
    font-size: 60px;
    margin: 0;
    padding: 20px;
}

/* feed css */
.feed{
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* gap: 20px; */
}

.feed-card{
    display: flex;
    max-width: 30%;
    flex-direction: column;
    /* justify-content: space-between; */
    padding-top: 40px;
}

/* .feed-card div{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 0;
} */

.feed-text{
    display: flex;
    /* justify-content: space-around; */
    /* padding: 0 20px; */
}

.feed-text p{
    padding-left: 20px;
    font-family: 'Custom-Italic';
}

footer{
    width: auto;
    height: 400px;
    background-color: black;
    margin-top: 80px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
}
footer img{
    max-width: 200px;
}

/* footer div ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
} */

footer ul{
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 80px;
    list-style-type: none ;
    font-family: 'Custom-Italic';
    font-size: 20px;
}

footer ul a:hover{
    color: antiquewhite;
    background-color: coral;
    font-family: 'Custom-Medium';
}