@font-face {
    font-family: 'Custom-Italic';
    src: url('../assets/Compagnon_Family/Compagnon-Italic.otf') format('opentype');
}
@font-face {
    font-family: 'Custom-Light';
    src: url('../assets/Compagnon_Family/Compagnon-Light.otf') format('opentype');
}
@font-face {
    font-family: 'Custom-Medium';
    src: url('../assets/Compagnon_Family/Compagnon-Medium.otf') format('opentype');
}    
@font-face {
    font-family: 'Custom-Roman';
    src: url('../assets/Compagnon_Family/Compagnon-Roman.otf') format('opentype');
} 
@font-face {
    font-family: 'Custom-Script';
    src: url('../assets/Compagnon_Family/Compagnon-Script.otf') format('opentype');
}        
        
body{
    margin: 0 auto;
    background-image: url(../assets/thumbnail.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}

/* header + navbar */
header{
    display: flex;
    justify-content: space-around;
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    align-items: center;
}

.logo img{
    width: 40px;
    padding: 20px;
}

a{
    all:unset;
}
a:hover{
    color: antiquewhite;
    background-color: coral;
}

h1{
    font-family: 'Custom-Roman';
    font-size: 40px;
}

h2{
    font-family: 'Custom-Medium';
}

.nav{
    display: flex;
    justify-content: center;
    
}

ul{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.nav a{
    font-family: 'Custom-Italic';
    text-decoration: none;
    font-size: 20px;
}
.nav ul{
    list-style-type: none ;
}

p{
    font: 20px;
    color: black;
}

.clock{
    padding: 20px;
    color: rgb(6, 6, 6);
}
.clock p{
    font-family: 'Custom-Light';
}

/* hero css */
.hero{
    width: 100vw;
    height:100%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    /* height: 80vh; */
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.hero-img{
    display: flex;
    justify-content: center;
}

.hero-img img{
    width: 40%;
}

.hero h1{
    font-family: 'Custom-Roman';
    font-size: 40px;
    /* display: flex; */
    align-items: center;
    margin-top: -80px;
}

.scroll-up{
    font-family: 'Custom-Italic';
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;
}

/* intro css */
.intro{
    width: 100vw;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.intro-text h1{
    font-family: 'Custom-Light';
    color: antiquewhite;
}

/* works css */
.works{
    display: flex;
    justify-content: space-around;
    padding: 40px;
}

.works p{
    font-family: 'Custom-Italic';
}

.works h1{
    font-size: 60px;
    margin: 0;
}

.works-text-left{
    padding-left: 80px;
}

.works-text-right{
    padding-right: 80px;
}

/* works showcase css */
.works-showcase{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap:40px;
    padding-top: 60px;
}

.showcase{
    flex-shrink: 0;
    height: 600px;
    width: 40%;
    display: flex;
    flex-direction: column;
    padding-bottom: 200px;
}

.showcase img, video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.showcase-text{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.showcase-text p{
    font-family: 'Custom-Italic';
}

/* idea section css */
.idea-section{
    background-color: coral;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    padding-bottom: 40px;
}

.ideation{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    width: 40%;
}
.ideation p{
    padding:20px;
    font-family: 'Custom-Italic';
}

.ideation h1{
    font-size: 60px;
    margin: 0;
    padding: 20px;
}

.ideation h2{
    font-family: 'Custom-Light';
    font-size: 30px;
    padding-left: 20px;
}

.ideation-topics{
    width: 60%;  
    padding: 20px;
}

.ideation-topics div{
    margin: 40px;
    background-color: antiquewhite;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.ideation-num{
    font-size: 120px;
    font-family: 'Custom-Italic';
    padding: 0;
    margin: 0;
}

/* marquee css */
.marquee{
    display: flex;
    overflow-x: hidden;
    width: 100vw;
}

.marquee::-webkit-scrollbar{
    display: none;
}

.marquee div{
    width: 300px;
    height: 400px;
    display: flex;
    flex-shrink: 0;
    padding: 0 40px;
}

.marquee img, .marquee video{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* post-marquee css */
.post-marquee{
    padding: 100px 400px;
    text-align: center;
}

.post-marquee p{
    font-family: 'Custom-Italic';
    font-size: 18px;
}

.post-marquee p:hover{
    font-family: 'Custom-Medium';
    color: coral;
}

/* feed intro css */
.feed-intro{
    background-color: black;
    color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.feed-intro p{
    color: antiquewhite;
    font-family: 'Custom-Italic';
}

.feed-intro h1{
    font-size: 60px;
    margin: 0;
    padding: 20px;
}

/* feed css */
.feed{
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* gap: 20px; */
}

.feed-card{
    display: flex;
    max-width: 30%;
    flex-direction: column;
    padding-top: 40px;
}

.feed-text{
    display: flex;
}

.feed-text p{
    padding-left: 20px;
    font-family: 'Custom-Italic';
}

footer{
    width: auto;
    height: 400px;
    background-color: black;
    margin-top: 80px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
}
footer img{
    max-width: 200px;
}

footer ul{
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 80px;
    list-style-type: none ;
    font-family: 'Custom-Italic';
    font-size: 20px;
}

footer ul a:hover{
    color: antiquewhite;
    background-color: coral;
    font-family: 'Custom-Medium';
}